.header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 90px;
}
.left {
  margin-left: 10rem;
  margin-right: 5rem;
  margin-top: 5rem;
  text-align: left;
  flex: 1;
}
.left h1 {
  line-height: 0.9;
  font-size: 80px;
}
.right {
  flex: 1;
}
.right img {
  right: 0;
  height: 70vh;
  width: auto;
}
.left p {
  font-weight: 500;
  margin-top: 50px;
  color: rgb(3, 9, 9);
}
.left button {
  font-size: large;
  background-color: rgb(0, 0, 0);
  color: aliceblue;
  padding: 10px 20px;
  border-radius: 10px;
  border: 2px solid black;
  font-weight: 700;
  margin-top: 40px;
}
.sponsers {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 70px;
 
}


.right img {
  margin-top: 4rem;
}
@media screen and (max-width: 750px) {
  .header {
    flex-direction: column-reverse;
  }
  .left {
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0;
  }
  .left p {
    padding: 2rem;
    text-align: center;
  }
  .sponsers{
    margin-left: 3rem;
    margin-right:3rem;
    padding-bottom: 40px;
  }
}
